
/* Custom CSS for the signup page */
body {
    background-color: #020130; /* Dark Blue Background */
    color: #e7d5d5; /* Text color */
}
.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Dark Blue Semi-transparent Background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* White Box Shadow */
}
.form-group {
    margin-bottom: 20px;
}
.input-group {
    position: relative;
}
.input-group-prepend .input-group-text {
    background-color: rgba(255, 255, 255, 0.1); /* Light Blue Input Background */
    color: #fff; /* Input Text Color */
    border: none;
    border-bottom: 2px solid #007BFF; /* Blue Bottom Border */
    border-radius: 0;
}
.form-control {
    background-color: rgba(255, 255, 255, 0.1); /* Light Blue Input Background */
    color: #fff; /* Input Text Color */
    border: none;
    border-radius: 25px; /* Rounded Corners */
    border-left: none;
}
.form-control:focus {
    background-color: rgba(255, 255, 255, 0.2); /* Lighter Blue Input Background on Focus */
    border-bottom: 2px solid #0056b3; /* Darker Blue Bottom Border on Focus */
    box-shadow: none;
    outline: none;
    color: #fff;
}
.btn-primary {
    background-color: #007BFF; /* Blue Button Background */
    border: none;
    border-radius: 25px;
}
.btn-primary:hover {
    background-color: #0056b3; /* Darker Blue Button Background on Hover */
}

#login{
    text-align: center;
}
